
@{
    ViewData["Title"] = "OrderHistory";
    List<Order> orders = (List<Order>)ViewData["order"];
}
<style>
    table {
        border: 1px solid lightgray;
    }

    #customers {
        border-collapse: collapse;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
    }
        #customers td, #customers th {
            padding: 12px;
            padding-bottom: 12px;
            text-align: center;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #343a40;
            color: white;
        }
</style>

<body>
    <table id="customers">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Price</th>
                <th>Ordered Date</th>
                <th>Details</th>
            </tr>
        </thead>
        @{foreach (Order order in orders )

        {
            <tr>
                <td>@order.OrderId</td>
                <td>$@order.OrderTotal</td>
                <td>@order.OrderDate</td>
                <td><a href=@("/OrderHistory/RecentOrder")>More Details</a></td>
            </tr>
            }
        }
    </table>
</body>
