
@{
    ViewData["Title"] = "OrderHistory";
   @* List<Order> orders = (List<Order>)ViewData["OrderHistory"]; *@
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
</style>

<body>
    <table id="customers">
        <thead>
            <tr>
                <th>OrderId</th>
               
                <th>Cost</th>
                <th>Ordered Date</th>
                <th></th>
            </tr>
        </thead>
          @{ foreach (Order order in Model)
                 {
                     <tr>
                         <td>@order.OrderId</td>
                        
                         <td>@order.OrderTotal</td>
                         <td>@order.OrderDate</td>
                         <td><a href=@("/OrderHistory/RecentOrder")>More Details</a></td>
                     </tr>
                 }
             }
    </table>
</body>
