
@{
    ViewData["Title"] = "OrderHistory";
}

<style>

</style>
<head>
    <title>Order History</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>date</th>
                <th></th>
            </tr>
        </thead>
        @*   @{ foreach ()
            {
        <tr>
            <td>Id</td>
            <td>Quantity</td>
            <td>Value</td>
            <td>CheckoutTime</td>
            <td><a href=@("path to recentOrder")></a></td>
        </tr>  
        }
       } *@
    </table>
    </div>

@* If they haven't ordered any items, display you have not yet orderd (using if statement)*@
    <p>You have not yet ordered.<p>
</body>
