
@{
    ViewData["Title"] = "OrderHistory";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<body>
    <table id="customers">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>date</th>
                <th></th>
            </tr>
        </thead>
        @*   @{ foreach ()
             {
         <tr>
             <td>Id</td>
             <td>Quantity</td>
             <td>Value</td>
             <td>CheckoutTime</td>
             <td><a href=@("path to recentOrder")></a></td>
         </tr>
         }
        } *@
    </table>
    </div>

@* If they haven't ordered any items, display you have not yet orderd (using if statement)*@
    <p>You have not yet ordered.<p>
</body>
