
@{
   
    ViewData["Title"] = "RecentOrder";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
</style>
<table id="customers">
    <tr>
        <th>  </th>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Time</th>
        <th>Activication Code</th>
    </tr>
    @*   @foreach (in)
        {
        <tr>
            <td><img src="Image"></td>
            <td>ProductName</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>UnitPrice</td>
            <td>Date</td>
            <td>
                <select>
                    @{
                         foreach ()
                         {
                              <option>@code.ActivationCode</option>
                         }
                     }
                </select>
            </td>
        </tr>
        }   *@

</table>

