@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Review
<style>
    .star-rating input {
        display: none;
    
    }

    .star-rating label {
        font-size: 30px;
        color: #808080;
        padding: 5px;
        float: right;
        transition: all 0.2s ease;
    }

    input:not(:checked) ~ label:hover,
    input:not(:checked) ~ label:hover ~ label {
        color: #fd4;
        cursor: pointer;
    }

    input:checked ~ label {
        color: #fd4;
    }

</style>

<script>

    function display(pts) {
        var message = "";
        switch (pts)
        {
            case "1": message = "Poor";
                break;
            case "2": message = "Satisfactory";
                break;
            case "3": message = "Average";
                break;
            case "4": message = "Good!";
                break;
            case "5": message = "Excellent!";
                break;
        }
        document.getElementById("rating-points").innerHTML = message;
    }
</script>



<div class="container col-10">
    <div class="card pb-3">
        <div class="card-header  ml-0 row container">
            <div class="row">
                <h6 class="text-muted p-3">You are reviewing:</h6>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="pr-2 d-lg-block  d-none">
                        <img src="https://images.g2a.com/newlayout/323x433/1x1x0/6192e93c4f93/5f5b30fd7e696c2842699832" class="p-2 container img-thumbnail">
                    </div>
                </div>
                <div class="col-10 ">
                    <h5>Product Loooooooooooooooooooooooog Name</h5>
                    <p class="p-2"> Microsoft Visio 2016 is a Part of Microsoft’s Office family, Microsoft Visio is a diagramming and vector graphics application that creates professional flowcharts, diagrams and organisational charts.</p>
                    <div class="text-right">
                        <a class="btn btn-outline-info btn-sm" asp-controller="ProductDetail" asp-action="ProductDetailPage">View Details</a>
                    </div>
                </div>
            </div>
        </div>

        <form class="col-8 align-self-md-center" >

            <div class="container pt-4">

                <div class="d-inline-block star-rating" id="star-rating-system">
                    
                    @for (int i = 5; i > 0; i--)
                    {
                        <input type="radio" name="rating" id="@("rate-" + i)" value="@i" onclick="display(this.value)">
                        <label for="@("rate-" + i)" class="fas fa-star"></label>
                    }
                </div>

                <div class="d-lg-inline-block d-none float-right pt-md-2 text-warning ">
                    <h4 id="rating-points"> </h4>
                </div>
                <hr>
            </div>
            <div id="review-comment" class="pt-2">
                
                    <div class="pb-3">
                        <textarea id="review-text" name="review" placeholder="Write a review..." style="height:160px; width: 100%"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-success float-right">
                
            </div>

        </form>
    </div>
</div>
