@{
}

<div class="container col-10">
    <div class="card pb-3">
        <div class="card-header  ml-0 row container">
            <div class="row">
                <h6 class="text-muted p-3">You are reviewing:</h6>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="pr-2 d-lg-block  d-none">
                        <img src="https://images.g2a.com/newlayout/323x433/1x1x0/6192e93c4f93/5f5b30fd7e696c2842699832" class="p-2 container img-thumbnail">
                    </div>
                </div>
                <div class="col-10 ">
                    <h5>Product Loooooooooooooooooooooooog Name</h5>
                    <p class="p-2"> Microsoft Visio 2016 is a Part of Microsoft’s Office family, Microsoft Visio is a diagramming and vector graphics application that creates professional flowcharts, diagrams and organisational charts.</p>
                    <div class="text-right">
                        <a class="btn btn-outline-info btn-sm">View Details</a>
                    </div>
                </div>
                </div>
            </div>

                <div class="col-8 align-self-md-center">

                    <div id="star-rating" class="container pt-4">

                        <h2 class="d-inline-block text-warning">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </h2>
                        <h4 class="d-lg-inline-block float-right pt-md-2 text-warning d-none">Excellent</h4>

                        <hr>
                    </div>
                    <div id="review-comment" class="pt-2">
                        <form>
                            <div class="pb-3">
                                <textarea id="review-text" name="review" placeholder="Write a review..." style="height:160px; width: 100%"></textarea>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-success float-right">
                        </form>
                    </div>

                </div>
    </div>
</div>
