@{
}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
    <div class="pl-4">
        <h6 class="text-muted">You are reviewing:</h6>
        <h5>Product Looooooooooooooooooog Name</h5>
    </div>
    </div>


    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-2">
            <div class="pr-2 pt-4">
            <img src="https://images.g2a.com/newlayout/323x433/1x1x0/6192e93c4f93/5f5b30fd7e696c2842699832" class="p-2 container img-thumbnail">
            </div>

        </div>

        <div class="col-6">
            
            <div id="star-rating" class="container pt-4">
                
                <h2 class="d-inline-block text-warning">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> 
                </h2>
                <h4 class="d-inline-block float-right pt-2 text-warning">Excellent</h4>
               
                <hr>
            </div>
            <div id="review-comment" class="pt-2">
                <form >
                    <div class="pb-3">
                    <textarea id="review-text" name="review" placeholder="Write a review.." style="height:160px; width: 100%"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>
            </div>

        </div>


    </div>
</div>
