<div class="text-center">@ViewBag.CheckoutCompleteMessage</div><br />
<div class="text-center"><a type="button" class="btn btn-primary view" asp-controller="OrderHistory" asp-action="Index">View Purchases</a></div><br />
<div class="text-center"><a type="text/html" class="text" asp-controller="Gallery" asp-action="Index">Continue Shopping</a></div>