<div class="text-center">@ViewBag.CheckoutCompleteMessage</div>
<div class="text-center"><a type="button" class="btn btn-primary view" asp-controller="Gallery" asp-action="Index">Continue Shopping</a></div>