<div class="text-center">@ViewBag.CheckoutCompleteMessage</div>
<div class="text-center"><a type="button" class="btn btn-primary view" asp-controller="OrderHistory" asp-action="Index">View Purchases</a></div>