@model ShoppingCart
@{
    ViewData["Title"] = "ShoppingCart";
}

<style>
    img.one{
        height: 20%;
        width:20%;
    }
</style>


@if (1 > 0)  // replace this with item counts
{
    //foreach (ShoppingCart CartItems in  )

    <div class="container">
        <div class="row col-md-10 col-md-offset-1 custyle">
            <table>
                <tr>
                    <td rowspan="5"><img class="one" src="https://images.g2a.com/newlayout/323x433/1x1x0/6192e93c4f93/5f5b30fd7e696c2842699832"/></td>
                </tr>
                <tr>
                    <td>
                        hello
                    </td>
                </tr>
                <tr>
                    <td>
                        hello
                    </td>
                </tr>
                <tr>
                    <td>
                        hello
                    </td>
                </tr>
                <tr>
                    <td>
                        hello
                    </td>
                </tr>
            </table>
        </div>
    </div>








}
else
{
    <div class="text-center">There are no items in the shopping cart.</div>
    <div class="text-center"><a href="http://localhost:61024/"><button class="btn-primary">Continute Shopping</button></a></div>
}
