
.container {
    width: 100%;
    position: relative;
    min-width: 50%;
}

.productdesc {
    max-width: 350px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
}

.middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1vw;
}

.middle2 {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1vw;
}

.size {
    width: 350px
}

.container:hover > .productImage {
    opacity: 0.4;
    transition: 0.3s ease-in;
}

.container:hover > .middle {
    opacity: 1;
}

.container:hover > .middle2 {
    opacity: 1;
}

.text {
    background-color: #4dc2dc;
    color: white;
    font-size: 14px;
    padding: 14px 30px;
}

#pager {
    padding-left: 5%
}

    #pager p {
        margin-left: 5%;
    }

.sidenav {
    /*        height: 80%;
        width: 20%;*/
    width: 220px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0px;
    background-color: #fff;
    overflow-x: auto;
    padding-top: 0px;
    margin-top: 0;
    /*margin-left: -10%;*/
    font-size: 18px;
    line-height: 2;
}

    .sidenav a {
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        display: block;
    }

        .sidenav a:hover {
            color: #000000;
            background-color: #acacac;
        }

.polaroid {
    width: 95%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

    .polaroid:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease-in-out;
    }

/*.dropdown-btn {
    text-decoration: none;
    font-size: 18px;
    display: block;
}*/

.dropdown-container {
    display: none;
    padding-left: 30px;
}

.gallery-table {
    padding-left: 250px;
    width: 100%;
    overflow-x: auto;
    //min-width: 1000px;
}

.responsive {
    width: 100%;
    max-width: 300px;
    min-width: 2300px;
    height: 100%;
    max-height: 300px;
    min-width: 230px;
}

.btn {
    font-size: 14px;
}

.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }

