
.add-to-cart {
    width: 220px;
    padding: 10px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    display: block;
}

.side {
    border-left-color: grey;
    border-left: 2px;
}


.number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

    .number-input button {
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0;
        position: relative;
    }

    .number-input input[type=number] {
        text-align: center;
    }

    .number-input.number-input {
        border: 1px solid #ced4da;
        width: 10rem;
        border-radius: .25rem;
    }

        .number-input.number-input button {
            width: 2.6rem;
            height: 1.2rem;
        }

            .number-input.number-input button.minus {
                padding-left: 10px;
            }


        .number-input.number-input input[type=number] {
            max-width: 4rem;
            padding: .5rem;
            border: 1px solid #ced4da;
            border-width: 0 1px;
            font-size: 1rem;
            height: 2rem;
            color: #495057;
        }

    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }


.user-review {
    display: block;
}

#leave-review {
    width: 200px;
    border-radius: .25rem;
}

.fas {
    display: flex;
    position: relative;
    justify-content: center;
}

.stars-outer {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    padding: 5px;
}

.stars-outer::before {
    content: "\f005  \f005  \f005  \f005  \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005  \f005  \f005  \f005  \f005";
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    font-weight: 900;
    color: #f8ce0b;
}

.middle {
    transition: .3s ease;
    opacity: 0;
    display: inline-block;
    transform: translateY(-200%);
    text-align: center;
    font-size: 1vw;
}

.hover-product:hover > .productImage {
    opacity: 0.4;
    transition: 0.3s ease-in;
}

.hover-product:hover > .middle {
    opacity: 1;
}

.hover-product:hover > .img-thumbnail {
    opacity: 0.3;
}

.hover-product {
    position: relative;
}

.similarProduct {
    transform: translateY(-50%);
}


