@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Privacy Policy</h3>
<p>T8Softwares respects your privacy and works hard to safeguard the privacy of your personal data. We realize that the exciting growth of the Internet and online services raise questions concerning the nature, use and confidentiality of information collected about consumers. We want you to know that we apply our long-standing commitment of safeguarding privacy to our online and Internet activities. In addition to this general online privacy policy, you may receive notice of other terms that apply to particular promotions or services.</p>
<p></p>
<h3>Personally Identifiable Information</h3>
<p>T8Softwares does not share, disclose or sell any personally-identifiable information (such as your name, address, telephone number or e-mail address) collected online on T8Softwares' sites with other unaffiliated companies or organizations for non-T8Softwares marketing purposes. Because this information is a critical part of our business, it would be treated like our other assets in the context of a merger, sale or other corporate reorganization or legal proceeding. T8Softwares also does not market to, or knowingly collect personal information from children under his age of 13 on Company sites.</p>
<p></p>
<h3>How We Use Information</h3>
<p>T8Softwares uses the personally-identifiable information we collect online principally to provide you with the service(s) you have ordered and to let you know about other offerings which may be interest to you. Postal and e-mail address information, for example, enables communication about services offered and ordered, as well as the proper provisioning and billing of those services. At any point of time, should you feel the need to opt-out future communications with T8Softwares, options are given within to exclude those communicated messages to you. .</p>
<p>We also provide personally-identifiable online information in response to subpoenas and other legal demands, and where we believe that disclosing this information is necessary to identify, contact or bring legal action against individuals who may be endangering public safety or interfering with T8Softwares' services, or with our customers' or others' use of them.</p>
<p></p>
<h3>Security</h3>
<p>We use encryption, firewalls and other technology and security procedures to help protect the accuracy and security of your personal information and prevent unauthorized access or improper use. For example, you will note that while using some features of the T8Softwares's web site you will need to submit a password or some other type of authenticating information.</p>