
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

@using (Html.BeginForm("Search", "Search", FormMethod.Post))
{

    <div>
        <br>
        <input type="text" id="productName" name="productName">

        <input type="submit" id="submitId" value="⌕" />

    </div>

}

@{
    if (ViewBag.SearchKey != null)
    {
        <span>
            Searched for: @ViewBag.SearchKey
        </span>
    }
}